* {
    margin: 0;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}
.star {
    position: relative;
    border-right: 100px solid transparent;
    border-bottom: 70px solid yellow;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
}
.star:before {
    content: '';
    position: absolute;
    top: -45px;
    left: -65px;
    border-right: 30px solid transparent;
    border-bottom: 80px solid yellow;
    border-left: 30px solid transparent;
    transform: rotate(-35deg);
}
.star:after {
    content: '';
    position: absolute;
    top: 3px;
    left: -105px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid yellow;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
}